<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block title %}<title>Teamus</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{% static 'icon/favicon.svg' %}" type="image/x-icon">

    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'css/account_styles.css' %}">
    {% block style %}{% endblock %}

</head>

<body>
<div class="container-fluid">
    <div class="header">
        <div class="home_icon_container"><img src="{% static 'icon/home_icon.svg' %}" alt="home"></div>
        <div class="logo"><img src="{% static 'icon/logo.svg' %}" alt="teamUs logo"></div>
    </div>
    <div class="main">
        <div class="white_container ">
            <div class="col-sm-3">
                {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'team:index' %}">All teams</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account:account-detail' pk=user.get_username %}">Profile</a></li>
                    <li><a href="{% url 'account:create-team' pk=user.get_username%}">Create team</a></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
                {% endblock %}
            </div>
            <div class="beige_container">
                <div class="aligner">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>