{% extends "base_generic.html" %}
{% load static %}
{% block title %}<title>Register</title>{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/register.css' %}">{% endblock %}
{% block content %}
    <body>
        <div class="main">
            <div class="white_container">
                <div class="beige_container">
                    <div class="aligner">
                        <div class="bold_italic_dark_blue_16">You have not yet signed up to TeamUs</div>
                        <div class="italic_light_blue_14">Please complete the information below to register</div>
                        <div class="form_container">
                            <form action="">
                                <div class="italic_black_14">first name</div>
                                <input type="text" name="first name" id="first_name" placeholder="enter your first name">

                                <div class="italic_black_14">last name</div>
                                <input type="text" name="last name" id="last_name" placeholder="enter your last name">

                                <div class="italic_black_14">username</div>
                                <input type="text" name="username" id="username" placeholder="enter your username">

                                <div class="italic_black_14">email</div>
                                <input type="email" name="email" id="email" placeholder="enter your email">

                                <div class="italic_black_14">password</div>
                                <input type="password" name="password" id="pass" placeholder="enter your password">

                                <div class="italic_black_14">confirm password</div>
                                <input type="password" name="confirm password" id="confirm_password" placeholder="enter your password again">

                                <div class="sign_up_button">Sign up</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}